@model TabloidMVC.Models.ViewModels.CommentPostViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CommentPostViewModel</h4>
    <h4>@Model.Post.Title</h4>
    @foreach (var comment in Model.Comments)
    {
        <h3>@comment.Subject</h3>
        <h3>@comment.Content</h3>
    }
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
