@model TabloidMVC.Models.ViewModels.UserProfileEditViewModel

@{
    ViewData["Title"] = "Edit";
}

<div class="container pt-5">

    <div class="row justify-content-center">
        <div class="card col-md-12 col-lg-8">
            <h3 class="mt-3 text-primary text-center card-title">What type of user is @Model.UserProfile.DisplayName?</h3>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <select asp-for="UserProfile.UserTypeId" class="form-control">
                        <option value="">Select User Type</option>
                        @foreach (UserType userType in Model.UserTypes)
                        {
                            <option value="@userType.Id">@userType.Name</option>
                        }
                    </select>
                    <span asp-validation-for="UserProfile.UserTypeId" class="text-danger"></span>
                </div>
                <input asp-for="UserProfile.Id" hidden class="form-control" />

                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
